In [5]:
import os

from sklearn.externals import joblib
import pandas as pd

In [6]:
EXPERIMENT_DIR = '/mnt/ml-team/minerva/talking_data/kuba/experiments/'
EXPERIMENT_NAME = 'baseline'

filepath = os.path.join(EXPERIMENT_DIR, EXPERIMENT_NAME, 'worst_predictions.pkl')
worst_preds = joblib.load(filepath)

In [7]:
worst_observations = worst_preds['data']
worst_y_true, worst_y_pred, worst_scores = worst_preds['y_true'], worst_preds['y_pred'], worst_preds['scores']

worst_observations['y_true'] = worst_y_true
worst_observations['y_pred'] = worst_y_pred
worst_observations['score'] = worst_scores

worst_observations.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,y_true,y_pred,score
1083377,92735,9,1,10,234,2017-11-09 15:28:29,2017-11-09 15:48:43,1,1,0.475539,-0.743307
819603,73516,9,1,14,466,2017-11-09 15:27:41,2017-11-09 15:29:30,1,1,0.475539,-0.743307
330251,90855,9,1,17,466,2017-11-09 15:51:05,2017-11-09 15:51:36,1,1,0.475539,-0.743307
320316,97043,9,1,13,134,2017-11-09 15:25:52,2017-11-09 15:26:19,1,1,0.475539,-0.743307
1674860,5348,20,1,13,478,2017-11-09 15:29:15,2017-11-09 15:30:40,1,1,0.475539,-0.743307

In [8]:
worst_observations['y_pred'].describe()

count    1000.000000
mean        0.478239
std         0.001961
min         0.475539
25%         0.476090
50%         0.478639
75%         0.479723
max         0.481446
Name: y_pred, dtype: float64

In [15]:
train_chunk = pd.read_csv('/mnt/ml-team/minerva/talking_data/files/train_20e7.csv', nrows=None)
train_chunk.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0

In [16]:
train_chunk.shape

(35012323, 8)