In [1]:
import pandas as pd
import seaborn as sns

In [2]:
train_sample = pd.read_csv('/mnt/ml-team/minerva/talking_data/data/train_sample.csv')
test_sample = pd.read_csv('/mnt/ml-team/minerva/talking_data/data/test.csv',nrows=100000)

In [3]:
display(train_sample.head())
display(test_sample.head())

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

   click_id      ip  app  device  os  channel           click_time
0         0    5744    9       1   3      107  2017-11-10 04:00:00
1         1  119901    9       1   3      466  2017-11-10 04:00:00
2         2   72287   21       1  19      128  2017-11-10 04:00:00
3         3   78477   15       1  13      111  2017-11-10 04:00:00
4         4  123080   12       1  13      328  2017-11-10 04:00:00

In [4]:
train_sample['click_time'] =  pd.to_datetime(train_sample['click_time'], format='%Y-%m-%d %H:%M:%S')
test_sample['click_time'] =  pd.to_datetime(test_sample['click_time'], format='%Y-%m-%d %H:%M:%S')

# Feature distributions

In [5]:
train_sample.nunique()

ip                 34857
app                  161
device               100
os                   130
channel              161
click_time         80350
attributed_time      227
is_attributed          2
dtype: int64

Categorical features

```python
CATEGORICAL_FEATURES = ['ip','app','device','os','channel']
```

Timestamp
```python
TIMESTAMPS =['click_time']
```
Target
```python
TARGET = ['is_attributed']
```
Let's look at the distributions of categorical features

In [7]:
CATEGORICAL_FEATURES = ['ip','app','device','os','channel']
frequency_threshold = 20

for feature in CATEGORICAL_FEATURES:
    counts = train_sample[feature].value_counts()
    print(feature, counts[counts>frequency_threshold].shape)

ip (281,)
app (47,)
device (6,)
os (65,)
channel (122,)

Very long tails so some clipping before feature extraction will be important

In [8]:
train_sample['click_time'].min(), train_sample['click_time'].max()

(Timestamp('2017-11-06 16:00:00'), Timestamp('2017-11-09 15:59:51'))

In [9]:
test_sample['click_time'].min(), test_sample['click_time'].max()

(Timestamp('2017-11-10 04:00:00'), Timestamp('2017-11-10 04:01:46'))

Test set starts after the train set so creating a validation set in a similar manner is important

# Target

In [10]:
train_sample['is_attributed'].mean()

0.0022699999999999999

Target is highly imbalanced. We should make sure to deal with that in our solution